* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

:root {
    --nav-background-color: #fff;
    --nav-color: #333;
    --background-color: #12181B;
    --player-x-color: #09C372;
    --player-o-color: #498AFB;
    --reset-background-color: #CCC;
    --reset-color: #000;
}

body {
    min-height: 100vh;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--nav-background-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--nav-color);
    text-decoration: none;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--nav-color);
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: var(--nav-color);
    color: var(--nav-background-color);
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: var(--nav-color);
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 10px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--nav-background-color);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }
}

.background {
    background-color: var(--background-color);
    height: 100vh;
    padding-top: 1px;
    margin-top: 50px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.tile:hover{
    background-color: rgb(242, 234, 250);
}

.playerX {
    color: var(--player-x-color);
}

.playerO {
    color: var(--player-o-color);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#reset {
    background-color: var(--reset-background-color);
    color: var(--reset-color)
}